# Кэш и результаты сборки VitePress
**/.vitepress/dist
**/.vitepress/cache

# Зависимости (Node.js)
node_modules/
jspm_packages/
web_modules/

# Логи и отчеты об ошибках
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Специфичные файлы менеджеров пакетов (опционально)
# Оставляйте файлы замков (lock-файлы), но игнорируйте локальный кэш
.pnpm-store/
.yarn/install-state.gz

# Переменные окружения и секреты
.env
.env.local
.env.*.local

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db
